@media (max-width:1199px) {
    body {
        overflow-x: hidden;
    }
    nav {
        display: inherit;
    }
    #btn-mobile {
        display: flex;
        padding: .5rem 1rem;
        font-size: 1rem;
        border: none;
        background: none;
        cursor: pointer;
        gap: .5rem;
    }
    .hamburguer {
        display: block;
        width: 40px;
        border-top: 6px solid;
        color: #DA0037;
    }
    .hamburguer::before,
    .hamburguer::after {
        display: block;
        content: "";
        height: 6px;
        background: currentColor;
        margin-top: 5px;
        transition: .3s;
        position: relative;
        color: #DA0037;
    }
    #nav.active .hamburguer {
        color: transparent;
    }
    #nav.active .hamburguer::before {
        transform: rotate(135deg);
    }
    #nav.active .hamburguer::after {
        transform: rotate(-135deg);
        top: -11px;
    }
    #menu {
        display: block;
        position: absolute;
        width: 100%;
        top: 55px;
        right: 0px;
        z-index: 1;
        transition: .8s;
        height: 0;
        visibility: hidden;
        overflow-y: hidden;
    }
    #nav.active #menu {
        background-color: #444444;
        height: calc(100vh - 55px);
        visibility: visible;
        overflow-y: auto;
    }
    #menu a {
        text-align: center;
        padding: 1rem 0;
        margin: 0 1rem;
        border-bottom: 2px solid black;
    }
    .sobre {
        flex-direction: column;
    }
    h1.nome::before {
        font-size: 1rem;
        top: -20px;
    }
    h1.nome {
        display: inherit;
        top: 00px;
        margin: 0 auto;
        font-weight: bolder;
        font-size: 2.2rem;
    }
    .parte1,
    .parte2 {
        width: 100%;
    }
    .separador,
    .sobreInf {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .separador {
        margin-top: 50px;
    }
    .sobreInf {
        margin: 0 auto;
        height: 240px;
    }
    footer {
        height: 170px;
    }
}

@media (max-width:800px) {
    #header {
        padding: 2rem;
    }
    .conteudo-projetos {
        padding: 10px 0;
    }
    .conteudo-projetos::before {
        right: -45px;
    }
    .sobreInf p {
        font-size: var(--fontmedia);
    }
    h1.nome {
        font-size: 2rem;
    }
    .roadmap h1 {
        font-size: var(--fontmedia);
    }
}

@media (max-width:500px) {
    h1.nome {
        font-size: 22px;
    }
    h1.nome::before {
        top: -20px;
        font-size: 0.7rem;
    }
    .parte2 p,
    .sobreInf p,
    .icons {
        font-size: var(--fontMobile);
    }
}